<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:kasera.test-app.link</string>
		<string>applinks:kasera-alternate.test-app.link</string>
		<string>applinks:link.kaserafood.com</string>
		<string>applinks:kasera-alternate.app.link</string>
	</array>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.kasera.client.onesignal</string>
	</array>
</dict>
</plist>
